
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 1.5rem;
  color: #444;

}

button {
  background-color: #0073e6;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  margin: 1rem 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #005bb5;
}

.instruments-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  padding: 20px;
}

.card {
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.img {
  width: 100%;
  max-width: 200px;
  height: 200px; 
  object-fit: cover; /* Ensures the image covers the area without stretching */
  border: 2px solid black;
  border-radius: 8px;
  margin-bottom: 15px;
}

.name {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.origin, .price {
  font-size: 1rem;
  color: #555;
  margin: 0.25rem 0;
}

.price {
  font-weight: bold;
  color: #0073e6;
}

button {
  background-color: #0073e6;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  margin: 1rem 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #005bb5;
}

/*darkmode time :)*/

body.dark-mode {
  background-color: #333333;
  color: #f4f4f9;
}

body.dark-mode button {
  background-color: #555;
  color: #f4f4f9;
  border: solid;
  border-color: white;
}

body.dark-mode p{
  color:white
}

body.dark-mode h1{
  color: white
}

body.dark-mode .card {
  background-color: #444;
  color: #f4f4f9;
  border-color: #666;
  border: solid;
  border-color: white;
}

body.dark-mode .price {
  color: #79d1ff;
}

body.dark-mode .img {
  border: solid white;
}
body.dark-mode button:hover {
  background-color: #666;
}
